{% extends 'base.html' %}
{% load blog_tags %}
{% block current%}
    <li><a href="../../../../../">首页</a></li>
    <li><a href="../../../../../category">分类</a></li>
    <li><a href="../../../archives" class="current">归档</a></li>
    <li><a href="#">关于</a></li>
{% endblock %}
{% block main %}
{% archives as date_list %}
<div class="content">
        {% for date in date_list %}

        <ul class="list-with-title">
            <div class="archive">
                <div class="listing-title">{{ date.year }}</div>

                <ul class="listing">
                    {% for post in post_list %}
                        {% if post.created_time.year == date.year %}
                    <div class="listing-item">
                        <div class="listing-post"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a>
                            <div class="post-time"><span class="date">{{ post.created_time }}</span></div>
                        </div>
                    </div>
                        {% endif %}
                    {% endfor %}
                </ul>
        </ul>
        {% endfor %}
</div>
{% endblock %}